<body>
<div class="relative min-h-screen bg-linear-to-br from-purple-100 to-blue-200">

  <!-- Centered blurred card -->
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="
        w-full sm:w-1/3
    mx-4 sm:mx-0
    bg-white/40 backdrop-blur-md
    rounded-2xl p-6
    shadow-lg border border-white/50
    space-y-2 sm:space-y-4 lg:space-y-6
      ">
      <p class="text-gray-700">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in
        his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see
        his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover
        it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of
        him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a
        proper human room although a little too small, lay peacefully between its four familiar walls. A collection of
        textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a
        picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a
        lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of
        her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops</p>

      <button (click)="openCards1()"
              class="
        cursor-pointer group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md
        text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              [ngClass]="showCards1() ? 'bg-red-500 hover:bg-red-700':'bg-indigo-600 hover:bg-indigo-700'">
        {{ showCards1() ? 'Close' : 'Show ' }}

      </button>
      @if (showCards1()) {
        <app-carousel-component [items]="firstCarousel"></app-carousel-component>
      }

      <p class="text-gray-700">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
        there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
        language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It
        is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line
        of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised
        her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the
        Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself
        on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of
        her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
        Pitiful a rhetoric question ran over her cheek, then</p>

      <button (click)="openCards2()"
              class="
        cursor-pointer group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md
        text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              [ngClass]="showCards2() ? 'bg-red-500 hover:bg-red-700':'bg-indigo-600 hover:bg-indigo-700'">
        {{ showCards2() ? 'Close' : 'Show' }}

      </button>
      @if (showCards2()) {
        <app-carousel-component [items]="secondCarousel"></app-carousel-component>
      }
    </div>
  </div>

</div>
</body>
